<div class="pro-sidebar">
        
    <div fxLayout="column" fxLayoutAlign="center none">
        
            <div fxLayout="row" fxFill fxLayoutAlign="space-between center">
                <img src="/assets/app_logo.jpeg" height="45" width="45" alt="">
            </div>
        
        <!-- <div fxLayout="column" fxLayoutAlign="center none" class="links">
            
            <div fxLayout="row" fxLayoutAlign="start center">
                <a>
                    <h2>Accueil</h2>
                </a>
            </div>
        
            <div>
                <a href="">
                    <h2>Mes tâches</h2>
                </a>        
            </div>
        </div> -->
        
        
    </div>    
    
</div>
